---
layout: default
toc: false
---
<section>
  <h1 class="title">Meltano Documentation</h1>
  <!--<p class="subtitle">Subtitle</p>-->
  <p>Welcome to the Meltano Documentation! Here you'll learn how to use Meltano, how Meltano is built, and where to get started.</p>
  <p>To learn <strong>how to use Meltano</strong>, check out the <a href="/getting-started/getting-started">Getting Started guide</a> and the additional guides and references linked from the Table of Contents in the sidebar.</p>
  <p>To learn about <strong>contributing to Meltano</strong>, refer to the <a href="/getting-started/contributor-guide">Contributor Guide</a>.</p>
  <p>To learn more about the company, you can check our our <a href="https://handbook.meltano.com/">Company Handbook</a>. This site contains information about our <a href="https://handbook.meltano.com/company/values">values</a>, <a href="https://handbook.meltano.com/company/#mission">mission</a>, <a href="https://handbook.meltano.com/company/#vision">vision</a>, and <a href="https://handbook.meltano.com/product/roadmap">roadmap</a>, all of which guide how we build Meltano out in the open.</p>
</section>

<section class="section">
  <div class="columns">

    <div class="column">
        <h3 class="is-size-3 has-text-centered">Getting Started</h3>
        <p class="has-text-centered">Learn the basics of Meltano and get up and running.</p>
        <ul>
          <li><a href="/getting-started/getting-started">Getting Started Guide</a> - This guide will help you get started with installing and configuring Meltano.</li>
          <li><a href="/getting-started/production">Deploying Meltano</a> - Already have a Meltano project? Learn how to deploy it here.</li>
          <li><a href="/getting-started/installation">Install Meltano</a> - In-depth information on installing Meltano.</li>
          <li><a href="/getting-started/community">Join the Community</a></li>
          <li><a href="/getting-started/contributor-guide">Contribute!</a></li>
        </ul>
    </div>
    <div class="column">
        <h3 class="is-size-3 has-text-centered">Reference Documentation</h3>
        <p class="has-text-centered">Dive into the core of Meltano and learn how to manage projects.</p>
        <ul>
          <li><a href="/reference/command-line-interface">Meltano CLI Reference</a></li>
          <li><a href="/reference/settings">Meltano Settings</a> </li>
          <li><a href="/reference/architecture">Meltano Architecture</a></li>
        </ul>
    </div>
  </div>

  <div class="columns">
    <div class="column">
        <h3 class="is-size-3 has-text-centered">Tutorials</h3>
        <p class="has-text-centered">See real-world examples of Meltano.</p>
        <ul>
          <li><a href="/tutorials/containerization">Containerize Meltano</a></li>
          <li><a href="/tutorials/custom-extractor">Create a Custom Extractor</a></li>
          <li><a href="https://www.youtube.com/watch?v=DQDVBHxLU60">Create a Tap</a></li>
        </ul>
    </div>
    <div class="column">
        <h3 class="is-size-3 has-text-centered">Singer Documentation</h3>
        <p class="has-text-centered">Learn more about Singer taps and targets.</p>
        <ul>
          <li><a href="https://sdk.meltano.com">Singer SDK Documentation</a></li>
          <li><a href="https://hub.meltano.com/singer/spec">Read the Singer Spec</a> </li>
          <li><a href="https://hub.meltano.com/singer/">MeltanoHub for Singer</a></li>
          <li><a href="https://github.com/MeltanoLabs/Singer-Working-Group">Singer Working Group</a></li>
        </ul>
    </div>
  </div> 
</section>

<section class="section">
  <h2>Get Help</h2>
  <p>If you have a question about Meltano, are having trouble getting it to work, or have any kind of feedback, you can:

  <div class="columns is-multiline is-centered">

    <div class="column is-half">
      <div class="card chiclet">
        <div class="card-content has-text-centered">
          <div class="block">
            <p><span class="icon is-large"><i class="fab fa-gitlab fa-5x"></i></span></p>
            <p>Check out the <a href="https://gitlab.com/meltano/meltano/issues/">Meltano issue tracker</a> to see if someone else has already reported the same issue or made the same request. Feel free to weigh in with extra information, or just to make sure the issue gets the attention it deserves.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="card chiclet">
        <div class="card-content has-text-centered">
          <div class="block">
            <p><span class="icon is-large"><i class="fab fa-slack fa-5x"></i></span></p>
            <p>Join the <a href="https://meltano.com/slack">Meltano Slack workspace</a>, which is frequented by the core team and thousands of community members and data experts. You can ask any questions you may have in here or just chat with fellow users.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


