<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item" href="https://meltano.com">
          <img src="/images/meltano-logo.png" alt="The Meltano logo with Meltano written in purple" width="112" height="28">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ site.url }}"> Home </a>

        {% if site.collections %}
          {% for collection in site.collections %}
            {% if collection.label != "posts" %}
              <a class="navbar-item" href="/{{ collection.label }}"> {{ collection.name }} </a>
            {% endif %}
          {% endfor %}
        {% endif %}
        
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Get Help </a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="https://meltano.com/slack"> Slack Community </a>
                <a class="navbar-item" href="https://meltano.com/slack"> Support </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="https://gitlab.com/meltano/meltano/issues/"> Report a Bug </a>
            </div>
        </div>

      </div>
      <div class="navbar-end">
          <!--<a href="#" class="navbar-item"><i class="fas fa-search"></i></a>-->
          <a href="https://gitlab.com/meltano/handbook" class="navbar-item"><i class="fab fa-gitlab"></i></a>
          <a href="https://meltano.com/slack" class="navbar-item"><i class="fab fa-slack"></i></a>
      </div>
  </div>
</nav>